@model IEnumerable<SITW.Models.ViewModel.NewsViewModel>

@{
    Layout = null;   
}

<head>
    <meta property="og:url" content="@Url.Action("Index", "Home",null, Request.Url.Scheme)">

</head>

<!--// Widget Trending News \\-->
<div class="widget widget_popular_news">
    <div class="sportsmagazine-fancy-title2"><h2><i class="fa fa-paper-plane-o" style="margin:0px 10px 0px 0px;
text-shadow:1px 1px 0 #e4b12a, -1px -1px 0 #e4b12a, 1px -1px 0 #e4b12a, -1px 1px 0 #e4b12a, 1px 1px 0 #e4b12a;color:#181c26" aria-hidden="true"></i> 最新資訊</h2>
        <h6 style="margin:-40px 40px 0px 0px;float:right;">
            @*Html.ActionLink("more", "News", "Home")*@
            <a href="@Url.Action("Index","News")"><i class="fa fa-plus-square-o fa-lg"></i></a>
        </h6>
    
    </div>
    <ul style="border:1px solid #2f334c">
        @foreach (var item in Model)
        {
            if (item.p_class == 1)
            {
                <li class="widget-theleague" style="border-top:1px solid #2f334c;">
                    <span><img src="@item.image"></span>
                    <div class="popular_news_text">
                        <small>活動</small>
                        <a href="@Url.Action("Details",new { id = item.Id })">@item.title</a>
                        <a href="@Url.Action("Details",new { id = item.Id })"><div id="jshtml">@Html.DisplayFor(model => item.news_content)</div></a>
                        <time datetime="2008-02-14 20:00">@item.real_time</time>
                    </div>
                </li>
            }
            else if (item.p_class == 2)
            {

                <li class="widget-injuries" style="border-top:1px solid #2f334c;">
                    <span><img src="@item.image"></span>
                    <div class="popular_news_text">
                        <small>停權</small>
                        <a href="@Url.Action("Details",new { id = item.Id })">@item.title</a>
                        <a href="@Url.Action("Details",new { id = item.Id })"><div id="jshtml">@Html.DisplayFor(model => item.news_content)</div></a>
                        <time datetime="2008-02-14 20:00">@item.real_time</time>
                    </div>
                </li>
            }
            else if (item.p_class == 3)
            {


                <li style="border-top:1px solid #2f334c;">
                    <span><img src="@item.image"></span>
                    <div class="popular_news_text">
                        <small>公告</small>
                        <a href="@Url.Action("Details",new { id = item.Id })">@item.title</a>
                        <a href="@Url.Action("Details",new { id = item.Id })"><div id="jshtml">@Html.DisplayFor(model => item.news_content)</div></a>
                        <time datetime="2008-02-14 20:00">@item.real_time</time>
                    </div>
                </li>
            }
        }
    </ul>
</div>


