@*@model IEnumerable<SITW.Models.ViewModel.GameAPIViewModel.Dota2UpcomViewModel.RootObject>*@
@model IEnumerable<SITW.Models.GameAPIModels.Dota2Python>

@{
    /**/

    //Layout = "~/Views/Shared/_Layout_admin_Game.cshtml";
    Layout = null;

}
<section id="main-content">
    <section class="wrapper">
        <div class="bs-example">

            <h5>DOTA2API</h5>
            <table id="d2List" class="table table-bordered table-sm" style="width:100%">
                <thead>
                    <tr>
                        @*<th style="width:10%"> 編號 </th>
                            <th style="width:10%">系列</th>*@
                        <th style="width:10%"> 編號 </th>
                        <th style="width:10%">系列</th>
                        <th style="width:20%">系列賽名稱 </th>
                        <th style="width:20%"> 賽局名稱 </th>
                        <th style="width:20%">比賽開始時間 </th>
                        <th style="width:10%"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            @*<td><img style="max-width:100px;" src="@item.image_url" /></td>
                            <td>
                                    @Html.Raw(item.number_of_games)
                                </td>
                            <td>BO @item.number_of_games</td>
                            <td><img style="max-width:50px;" src="@item.o1image_url" />  @item.o1name <span>VS</span> <br> <img style="max-width:50px;" src="@item.o2image_url" /> @item.o2name</td>
                            <td>@item.begin_at </td>
                            <td>
                                <a id="dota2data" href="#">
                                    <input type="hidden" name="dota2begin_at" value="@item.begin_at">
                                    <input type="hidden" name="team1" value=" @item.o1name">
                                    <input type="hidden" name="team2" value=" @item.o2name">
                                    @*<input type="hidden" name="league" value="@item.league">*@
                                   @* 填入資料
                                </a>
                            </td>*@
                            <td> @item.id </td>
                            <td> @item.Model</td>
                            <td> @item.leagues</td>
                            <td>
                                <img style="max-width:50px;" src="@item.team1_image" />  @item.team1 <span>VS</span> <br> <img style="max-width:50px;" src="@item.team2_image" /> @item.team2
                            </td>
                            <td>@item.time </td>
                            <td>
                                <a id="dota2data" href="#">
                                    @{
                                        /*string season = "";
                                        if (item.serie.season != null)
                                        {
                                            season = "-" + item.serie.season;
                                        }*/

                                    }
                                    <input type="hidden" name="dota2begin_at" value="@item.time">
                                    <input type="hidden" name="team1" value=" @item.team1">
                                    <input type="hidden" name="team2" value=" @item.team2">
                                    <input type="hidden" name="league" value="@item.leagues">
                                    <input type="hidden" name="team1_shortName" value="@item.team1">
                                    <input type="hidden" name="team2_shortName" value="@item.team2">
                                    <input type="hidden" name="team1_imageURL" value="@item.team1_image">
                                    <input type="hidden" name="team2_imageURL" value="@item.team2_image">
                                    填入資料
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </section>
</section>

<div id="dota2lsit">


</div>


<!-- Modal -->



<script src="/Scripts/jquery.dataTables.min.js"></script>
<script src="/Scripts/dataTables.bootstrap.min.js"></script>
<script src="//cdn.datatables.net/select/1.2.5/js/dataTables.select.min.js"></script>
<Script type="text/javascript">

    $(document).ready(function () {
        /*$(".form_datetime").datetimepicker(
            {
                timepicker: false,
                format: 'Y/m/d'
            });*/

        $('#d2List').DataTable({
            "order": [[0, "desc"]], "ordering": false, "paging": true, "info": true, "searching": true,
            "language": {
                "lengthMenu": "顯示賽局_MENU_ ",
                "info": "目前 _START_ to _END_ 共 _TOTAL_ 局", "paginate": {
                    "next": "", "previous": ""
                }
            }
        });



    });
</Script>






<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" />
<link rel="stylesheet" href="//cdn.datatables.net/select/1.2.5/css/select.bootstrap.min.css" />


<style>


    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: #96c8f9;
    }
</style>



@*@foreach (var item in Model)
    {
        <span>leaguename：</span> @item.leaguename.name <br>
        foreach (var match in item.d2match)
        {
            <span>match_id：</span> @match.match_id<br>
            <span>dire_team(勝利)：</span> @match.dire_team<br>
            <span>dire_team(敗者)：</span> @match.radiant_team<br>
        }



    }*@


