@model SITW.Models.ViewModel.GamePostViewModel

@{
    ViewBag.Title = Model.game.title+"|熊i猜";   
}
<script type="application/ld+json">
    {
    "@@context": "http://schema.org",
    "@@type": "BreadcrumbList",
    "itemListElement": [{
    "@@type": "ListItem",
    "position": 1,
    "item": {
    "@@id": "http://funbet.com.tw/",
    "name": "首頁",
    "image": "http://funbet.com.tw/Content/images/logo-1.png"
    }
    },{
    "@@type": "ListItem",
    "position": 2,
    "item": {
    "@@id": "http://funbet.com.tw/game/",
    "name": "遊戲大廳"
    }
    },{
    "@@type": "ListItem",
    "position": 3,
    "item": {
    "@@id": "http://funbet.com.tw/game/Details/@Model.game.sn",
    "name": "@Model.game.title"
    }
    }]
    }
</script>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" />
<link rel="stylesheet" href="~/Content/css/nabob_style.css?v=20181130" />
<style>
    .snow-canvas {
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        pointer-events: none;
    }
    #mask_css {
        display:none;
        width: 100%;
        height: 800px;
        position: absolute;
        z-index: 999999;
        background: rgba(0, 0, 0, 0.4)
    }

    .loading {
        width: 100%;
        height: 100%;
        position: fixed;
        background: #000;
        z-index: 1000000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .loading h2 {
            color: #ccc;
            margin: 0;
            font: .8em verdana;
            text-transform: uppercase;
            letter-spacing: .1em;
        }

        /*
    * Loading Dots
    * Can we use pseudo elements here instead :after?
    */
        .loading span {
            display: inline-block;
            vertical-align: middle;
            width: .6em;
            height: .6em;
            margin: .19em;
            background: #007DB6;
            border-radius: .6em;
            animation: loading 1s infinite alternate;
        }

            /*
    * Dots Colors
    * Smarter targeting vs nth-of-type?
    */
            .loading span:nth-of-type(2) {
                background: #008FB2;
                animation-delay: 0.2s;
            }

            .loading span:nth-of-type(3) {
                background: #009B9E;
                animation-delay: 0.4s;
            }

            .loading span:nth-of-type(4) {
                background: #00A77D;
                animation-delay: 0.6s;
            }

            .loading span:nth-of-type(5) {
                background: #00B247;
                animation-delay: 0.8s;
            }

            .loading span:nth-of-type(6) {
                background: #5AB027;
                animation-delay: 1.0s;
            }

            .loading span:nth-of-type(7) {
                background: #A0B61E;
                animation-delay: 1.2s;
            }

    /*
    * Animation keyframes
    * Use transition opacity instead of keyframes?
    */
    @@keyframes loading {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    </style>

<div class="loading">

    <h2><img style="width: 80px;" src="/Content/extra-images/nabob.png"><br>正在為您加載 @Model.game.betModelString</h2>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>

           
<div class="sportsmagazine-main-section sportsmagazine-thumb sportsmagazine-shop-thumb">
    <span class="thumb-transparent"></span>
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <figure class="sportsmagazine-thumb-img">

                    <div class="menu-admin" >
                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <a class="ticket-buy-btn-2" href="@Url.Action("Edit", new { id = Model.gamepost.sn })">編輯</a>

                            <a class="ticket-buy-btn-2" href="@Url.Action("DetailsAdmin", new { id = Model.gamepost.sn })">管理</a>
                        }
                    </div>



                    @if (Model.vedio_url != "")
                    {
                        <div class="zoom" id="div1">
                            <div id="top-film">
                                <div class="slide_toggle"></div>
                                @* <a id="testgo" data-dismiss="modal" class="sportsmagazine-login-close sportsmagazine-color"><i class="icon-uniF106"></i></a>*@
                                <iframe width="560" height="250" allowfullscreen="1" src="@Model.vedio_url" frameborder="0"></iframe>
                            </div>

                        </div>
                    }
                    else
                    {

                        <div class="slide_toggle"></div>
                                        <div class="sportsmagazine-featured-slider">
                                            <div class="sportsmagazine-featured-slider-layer">
                                                <div class="main-content" style="height:250px">
                                                    @if (Model.TeamA != null || Model.TeamB != null)
                                                    {
                                                         <h1 style="text-align:center;font-size:18px;">暫無比賽直播</h1>
                                                    }
                                                    <h2 style="color:#e5b22a;text-align:center;line-height:100px;text-shadow:0 0 0.2em #333">VS</h2>
                                                    @if (Model.TeamA != null)
                                                    {
                                                        <img src="@Model.TeamA.imageURL" style="max-width:60px;position:absolute;top:30%;left:15%" alt="">
                                                    }

                                                    @if (Model.TeamB != null)
                                                    {
                                                        <img src="@Model.TeamB.imageURL" style="max-width:60px;position:absolute;right:15%;top:30%;" alt="">
                                                    }
                                                    <canvas id="noise" class="noise"></canvas>


                                                </div>



                                                @*<img src="/Content/extra-images/videoerror.jpg" alt="">
                                                <div>@if (Model.TeamA != null)
                                                {

                                                    <img src="@Model.TeamA.imageURL" alt="">
                                                }
                                                {</div>
                                                <div>@if (Model.TeamB != null)
                                                {

                                                    <img src="@Model.TeamB.imageURL" alt="">
                                                }</div>*@
                                                <span class="sportsmagazine-black-transparent"></span>

                                            </div>
                                        </div>



                    }


                </figure>
            </div>
            <div class="col-md-8">
                <div class="sportsmagazine-shop-summery">
                    @*<canvas class="snow-canvas" speed="1" interaction="false" size="2" count="30" opacity="0.00001" start-color="rgba(253,252,251,1)" end-color="rgba(251,252,253,0.3)" wind-power="0" image="false" width="1366" height="667"></canvas>
        <canvas class="snow-canvas" speed="3" interaction="true" size="6" count="10" start-color="rgba(253,252,251,1)" end-color="rgba(251,252,253,0.3)" opacity="0.00001" wind-power="2" image="false" width="1366" height="667"></canvas>
        <canvas class="snow-canvas" speed="3" interaction="true" size="12" count="15" wind-power="-5" image="/Content/images/banner/snow.png" width="1366" height="667"></canvas>*@

                    <ul class="sportsmagazine-summery-option">
                        <li style="width:100%">
                            <h5>競猜主題：</h5>
                            <span class="sportsmagazine-price-cartbox">@Html.DisplayFor(model => model.game.title)</span>
                        </li>
                         <li style="width:100%">
                            <h5>競猜說明：</h5>
                            <span class="sportsmagazine-price-cartbox">@Model.game.comment</span>

                        </li>
                        <li style="width:100%">
                            <h5>競猜規則：</h5>
                            <span class="sportsmagazine-price-cartbox">預測此局全部題目，全中即獲得100倍鮭魚積分獎勵</span>

                        </li>
                        @if (Model.game.gamedate.HasValue)
                        {
                            <li>
                                <h5>比賽時間：</h5>
                                <span class="sportsmagazine-price-cartbox">
                                    @Model.game.gamedate.Value.ToString("yyyy/MM/dd HH:mm")
                                </span>
                            </li>
                        }
                        @if (Model.PlayGame != null)
                        {
                            <li>
                                <h5>競猜遊戲：</h5>
                                <span class="sportsmagazine-price-cartbox">
                                    @Model.PlayGame.cName
                                </span>
                            </li>
                        }
                        <li>
                            <h5>競猜模式：</h5>
                            <span class="sportsmagazine-price-cartbox">
                                @Model.game.betModelString
                            </span>
                        </li>
                        @if (Model.game.rake.HasValue)
                        {
                            <li>
                                <h5>抽成資訊：</h5>
                                <span class="sportsmagazine-price-cartbox">
                                    @Model.game.rake.Value.ToString()%
                                </span>
                            </li>
                        }
                        @*
            <li>
                <h5>競猜規則：</h5>
                <span class="sportsmagazine-price-cartbox">無</span>
            </li>
                        *@
                    </ul>




                </div>


            </div>

        </div>
    </div>
</div>







<main class="site-main" style="margin-bottom:100px">
    <div class="container">
        <div class="fontcolor">

            <h1 class="entry-title" style="color:#19191b">
                -
            </h1>


        </div>

        <div style="background-image: url(/Content/extra-images/Nabob/nabobbody.png);background-size: contain;
    height: 180px;">

            <div class="sportsmagazine-fancy-title2">
                <h2></h2>
                <span class="bear_top"></span>
            </div>
            <div class="bet_bodyhead">
                <div id="mask_css"></div>
                <span class="bear_phone"></span>


            </div>
            <form name="betForm" action="/bet/Create" method="post">
               
                <div name="ddTopic">

                </div>

                <div class="bet_footer">
                    <div class="Container-gon">
                        <a id="betlimit" data-toggle="modal" data-target="" class="Btn Btn--primary Btn--purple Btn--shadow Btn--wide" href="#"><span class="Btn-inner"><span class="Btn-innerContent">預測<img src="/Content/extra-images/fish_bone.png" style="width: 35%; margin: 0 0px 2px 10px;"></span></span></a>
                    </div>
                </div>


                <div class="loginmodal modal fade" id="betModal" tabindex="-1" role="dialog">

                    <div class="modal-dialog" id="modal-width" role="document">

                        <div class="sportsmagazine-login-box">

                            <div style="border:5px  #8c8c8c ridge;">

                                <div class="bet_from">

                                    <div class="bet_class" style="
    text-align: left;
    margin-left: 6em;
    margin-bottom: 0px;
">

                                        <span style="color: #d5d5d5;">確認框</span>
                                    </div>
                                    <div class="bet_margin">
                                        <span style="color:#e5b22a">預測選項</span> ： <span id="bet_html" style="color:#ffdc11"></span>
                                        <div class="bet_money" style="
    margin-bottom: 30px;
">

                                            <span style="color:#e5b22a">預測金額</span> ： <input class="form-control canbet" id="dgonmoney" type="tel" pattern="^+?[1-9][0-9]*0$|^$|^0$" inputmode="numeric" value="1" style="
    width: 80px;text-align:center;
"> * 100 = <span id="bet_m"></span> 魚骨幣
                                        </div>
                                    </div>
                                    <div id="bet_combination">

                                        <div style="float:left" class="Container-gon">
                                            <a style="float:left" id="betButtonClose" class="Btn Btn--primary Btn--purple Btn--shadow Btn--wide" href="#">
                                                <span class="Btn-inner">
                                                    <span class="Btn-innerContent">
                                                        返回重選
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div style="float:left" class="Container-gon">
                                            <a style="float:left" id="betButton" class="Btn Btn--primary Btn--purple Btn--shadow Btn--wide" href="#">
                                                <span class="Btn-inner">
                                                    <span class="Btn-innerContent">
                                                        確定預測
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
        </div>
</main>
    <!-- /.container -->
    @section Scripts {
        @Scripts.Render("~/bundles/jquerysignalR")
        @Scripts.Render("~/bundles/NabobBetDetail")
        <script src="/Scripts/masonry.pkgd.min.js"></script>
        <script src="/Scripts/imagesloaded.pkgd.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="~/signalr/hubs"></script>
        <script src="~/Content/Nabob/ui-choose.js"></script>
        <script src="~/Scripts/snow-plugin.js"></script>

        <script type="text/javascript">
            jQuery(document).ready(function () {
                var topic = $.connection.topicHub;
                topic.client.showTopic = function (topicData) {
                    createTopic(topicData);
                };

                topic.client.updateTopic = function (topicData) {
                    updateTopic(topicData);
                };

                topic.client.updateBetMoney = function (betData) {
                    updateBetMoney(betData);
                };

                $.connection.hub.start().done(function () {
                    topic.server.joinGroup('@Model.md5GameSn','@Model.encryptedGameSn');
                });
            });
        </script>

        <script>
            // uc_03 ul 多选
            var uc_03 = $('#uc_03').data('ui-choose');
            uc_03.click = function (index, item) {
                console.log('click', index);
            };
            uc_03.change = function (index, item) {
                console.log('change', index);
            };

            </script>
        <!-- filmtop--->
<script type='text/javascript'>
    $(document).ready(function () {
        $(function () {
            $(".snow-canvas").snow();
        });
        $('.slide_toggle').append("隱藏");
         
        $(window).scroll(function () {
            var content = $(".sportsmagazine-main-wrapper").height(); 
            var thisTop;
            if (content > 1150) {
                thisTop = 0;
            } else {
                thisTop = 200;
            }

            if ($(this).scrollTop() > thisTop) {

                $('#top-film').addClass("filmfixed");
                $('#top-film').stop().animate({ top: "0px" });
                $('#testgo').show();               
                $("#div1").css("height", "20px");  
            }
            else {
                $('#top-film').removeClass("filmfixed");              
                $('#top-film').stop().animate({ top: "-10px" });
                $('#testgo').hide();
                $("#div1").css("height", "20px");                

            }

        });
        $('#testgo').hide();

        $(".sportsmagazine-footer-one").css("position", "relative");       
        
        $(".slide_toggle").on('click',function () {
            $(this).next().slideToggle();
           
            if ($(this).text() == "隱藏")
            {
                $(this).text("顯示");
            }           
            else {
                $(this).text("隱藏");
            }
        });  
        
        $('#indexgame').addClass("active");

        var noisebool = $("canvas").attr("id");

        if (noisebool == "noise")
        {
        const noise = () => {
            let canvas, ctx;

            let wWidth, wHeight;

            let noiseData = [];
            let frame = 0;

            let loopTimeout;


            // Create Noise
            const createNoise = () => {
                const idata = ctx.createImageData(wWidth, wHeight);
                const buffer32 = new Uint32Array(idata.data.buffer);
                const len = buffer32.length;

                for (let i = 0; i < len; i++) {
                    if (Math.random() < 0.5) {
                        buffer32[i] = 0xff000000;
                    }
                }

                noiseData.push(idata);
            };


            // Play Noise
            const paintNoise = () => {
                if (frame === 9) {
                    frame = 0;
                } else {
                    frame++;
                }

                ctx.putImageData(noiseData[frame], 0, 0);
            };


            // Loop
            const loop = () => {
                paintNoise(frame);

                loopTimeout = window.setTimeout(() => {
                    window.requestAnimationFrame(loop);
                }, (1000 / 25));
            };


            // Setup
            const setup = () => {
                wWidth = window.innerWidth;
                wHeight = window.innerHeight;

                canvas.width = wWidth;
                canvas.height = wHeight;

                for (let i = 0; i < 10; i++) {
                    createNoise();
                }

                loop();
            };


            // Reset
            let resizeThrottle;
            const reset = () => {
                window.addEventListener('resize', () => {
                    window.clearTimeout(resizeThrottle);

                    resizeThrottle = window.setTimeout(() => {
                        window.clearTimeout(loopTimeout);
                        setup();
                    }, 200);
                }, false);
            };


            // Init
            const init = (() => {
                canvas = document.getElementById('noise');
                ctx = canvas.getContext('2d');

                setup();
            })();
        };

        noise();
        }
       
        
    });

</script>



<!-- filmtop-->

    }

 





