@model SITW.Models.ViewModel.BetsByUserID
@{
    Layout = null;
    ViewBag.Title = "下注紀錄";
}
<style>
    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border-bottom: 1px solid #2f334c;
    }

    table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {
        border: 0px;
    }
</style>



<div class="sportsmagazine-wishlist" id="newsmargin" style="margin-top:30px">
    <select id="betmodel" class="form-control input-sm" style="text-align: center;text-align-last: center;">
        <option value="0">全部</option>
        <option value="1">精準預測</option>
        <option value="2">總彩池</option>
        @* <option value="7">總彩池-走地模式</option>*@
    </select>
    @*   <h4>競猜歷史</h4>*@
    <div class="sportsmagazine-wishlist-graph">
        <div id="no-more-tables">
            <table class="col-md-13 table-bordered table-striped table-condensed cf">
                @if (Model.BetList != null && Model.BetList.Count > 0)
                {
                    <thead class="cf" style="border-bottom:1px solid #2f334c">
                        <tr>
                            <th>主題</th>
                            <th>題目</th>
                            <th class="numeric">競猜項目</th>
                           
                            <th class="numeric">賠率</th>
                            <th class="numeric">金額</th>
                            <th class="numeric">先知獎金</th>
                            <th class="numeric">結果</th>
                            <th class="numeric">時間</th>
                        </tr>
                    </thead>
                    

                    <tbody id="betitem" style="color:#e5b22a;font-weight:100">
                        @foreach (var item in Model.BetList)
                        {
                        <tr>
                            @Html.HiddenFor(modelItem => item.betModel)
                            <td data-title="主題">@Html.DisplayFor(modelItem => item.game)</td>
                            <td data-title="題目">@Html.DisplayFor(modelItem => item.topic)</td>
                            <td data-title="競猜項目" class="numeric">
                                @if (item.betModel == 5)
                                {
                                    foreach (var chlist in item.betcountlist)
                                    {
                                        if (chlist.choiceStr == "無")
                                        {
                                            <span>(此場無擊殺龍) </span>
                                        }
                                        else
                                        {
                                            <span>@chlist.choiceStr *</span><span>@chlist.choiceCount</span>
                                        }
                                    }
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.choice)
                                }
                            </td>
                           
                            <td data-title="賠率" class="numeric">
                                @if (item.betModel == 1 && item.walk != 1)
                                {
                                    @item.Odds
                                }
                                else
                                {
                                    <span>無</span>
                                }
                            </td>
                            <td data-title="金額" class="numeric">@Html.DisplayFor(modelItem => item.money)</td>
                            <td data-title="先知獎金" class="numeric">
                                @if (item.walk == 1)
                                {
                                    <span style = "color:#00ff42;">@item.totalmoney</span>
                                   
                                }
                                else
                                {
                                    <span>無</span>
                                }
                            </td>
                            <td data-title="結果" class="numeric">

                                @if (new string[] { "unknow", "invalid" }.Contains(item.isTrueValue))
                                {
                                    if (item.gameStatus == 5)
                                    {
                                        <span style="color:#63b4e5"> 無效並返還 </span>
                                    }

                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.isTrue)
                                    }

                                }
                                else if (item.gameStatus == 4)
                                {
                                    <span style="color:#63b4e5"> 派彩中... </span>
                                }
                                else
                                {
                                    if (item.realmoney < 0)
                                    {
                                        @Html.Label("realMoney", item.realmoney.ToString(), new { title = item.showTitle, @class = "betResult", @style = "color:#f92552" })
                                    }
                                    else
                                    {
                                        @Html.Label("realMoney", item.realmoney.ToString(), new { title = item.showTitle, @class = "betResult" })
                                    }

                                }

                            </td>
                            <td data-title="時間" class="numeric">@Html.DisplayFor(modelItem => item.betDatetime)</td>
                        </tr>

                        }
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#betmodel").change(function () {
                var m = $(this).val();
                $("#betitem tr").each(
                    function (i, obj) {
                        if ($(obj).find("#item_betModel").val() == m) {
                            $(obj).removeAttr("style");

                        } else if (m == 0) {
                            $(obj).removeAttr("style");
                            //$(obj).css("display", "table-row");

                        } else {
                            $(obj).css("display", "none");
                        }

                        
                    });               

            });


        });


    </script>
