@model SITW.Models.Ranking_title

@{
    ViewBag.Title = "EditTitle";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> 獎勵管理</h3>
        <div class="row mt">
            <div class="col-lg-12">
                <div class="form-panel">
                    <h4 class="mb"><i class="fa fa-angle-right"></i> 獎勵修改區</h4>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)

                            <div class="form-group">
                                <label class="control-label col-md-2">主標題</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">競猜賽季開始時間</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.starttime, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.starttime, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">競猜賽季結束時間</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.endtime, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.endtime, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="修改" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }

                    <div>
                        @Html.ActionLink("返回", "Index")
                    </div>
                </div>
            </div>
        </div>

    </section>
</section>