@model SITDto.ViewModel.SettingListDto
@{

    int icount = 0;
}


<div class="container">
    <div class="row">

        <div class="form-horizontal">
            <h4>龍的傳人</h4>
            <hr />
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "dgonForm" }))
            {
                @Html.AntiForgeryToken()
                foreach (var v in Model.gamesettingList.Where(x => x.sn == 1))
                {
                    @Html.HiddenFor(model => model.gamesettingList[0].sn)

                    <div class="form-group">
                        @Html.LabelFor(model => model.gamesettingList[0].title, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.gamesettingList[0].title, new { htmlAttributes = new { @class = "form-control form_datetime", @style = "color:#ffdc11" } })
                            @Html.ValidationMessageFor(model => model.gamesettingList[0].title, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.gamesettingList[0].promote, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.gamesettingList[0].promote, new { htmlAttributes = new { @class = "form-control form_datetime", @style = "color:#ffdc11" } })
                            @Html.ValidationMessageFor(model => model.gamesettingList[0].promote, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.gamesettingList[0].outlay, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.gamesettingList[0].outlay, new { htmlAttributes = new { @class = "form-control form_datetime", @style = "color:#ffdc11" } })
                            @Html.ValidationMessageFor(model => model.gamesettingList[0].outlay, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.gamesettingList[0].betnumber, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.gamesettingList[0].betnumber, new { htmlAttributes = new { @class = "form-control form_datetime", @style = "color:#ffdc11" } })
                            @Html.ValidationMessageFor(model => model.gamesettingList[0].betnumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
                <hr>
                foreach (var i in Model.bonussettingList)
                {
                    @Html.HiddenFor(model => model.bonussettingList[icount].sn)
                    <div name="bonusDiv" class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.bonussettingList[icount].Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                <label class="control-label" style="text-align: left;">
                                    @Html.EditorFor(model => model.bonussettingList[icount].Quantity, new { htmlAttributes = new { @class = "form-control", @name = "topicList[0]", @style = "color:#ffdc11" } })
                                    @Html.ValidationMessageFor(model => model.bonussettingList[icount].Quantity, "", new { @class = "text-danger" })

                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            @if ((icount) < 4)
                            {
                                @Html.LabelFor(model => model.bonussettingList[icount].BonusRatio, htmlAttributes: new { @class = "control-label col-md-2" })
                            }
                            else
                            {
                                <label class="control-label col-md-2" for="game_bonusList_@(icount)__BonusRatio"><span style="color:#e5b22a">獎池(%)</span></label>
                            }

                            <div class="col-md-3">
                                @Html.EditorFor(model => model.bonussettingList[icount].BonusRatio, new { htmlAttributes = new { @class = "form-control", @style = "color:#ffdc11" } })
                                @Html.ValidationMessageFor(model => model.bonussettingList[icount].BonusRatio, "", new { @class = "text-danger" })
                            </div>

                            @Html.LabelFor(model => model.bonussettingList[icount].bonus, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @Html.CheckBoxFor(model => model.bonussettingList[icount].bonus)
                                @Html.ValidationMessageFor(model => model.bonussettingList[icount].bonus)
                            </div>

                        </div>
                        @Html.HiddenFor(model => model.bonussettingList[icount].pool, htmlAttributes: new { @style = "color:#ffdc11" })
                        @Html.ValidationMessageFor(model => model.bonussettingList[icount].pool, "", new { @class = "text-danger" })



                    </div>


                    icount++;


                }

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" id="dgongo" value="保存" class="btn btn-default" />
                    </div>
                </div>

            }



        </div>


        </div>
    </div>




















