@model SITW.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "註冊";
}
<div class="sportsmagazine-main-content">
    <div class="container">
        <div class="row">
            <div id="logocolor" class="sportsmagazine-login-form sportsmagazine-register-form">
                @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <h2>@ViewBag.Title.</h2>
                    <h3>關聯您的 @ViewBag.LoginProvider 帳戶。</h3>

                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <p class="text-info">
                        已成功獲取 <strong>@ViewBag.LoginProvider</strong>註冊資訊。
                        請輸入此網站的熊粉ID，然後按一下 [註冊] 按鈕完成網站註冊。
                    </p>
                    <ul>
                        <li>
                            @Html.LabelFor(m => m.Name, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </li>
                        <li>
                            @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </li>
                        <li class="full-input">
                            <label class="submit-border"><input type="submit" value="註冊"></label>
                        </li>

                    </ul>
                }

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </div>
        </div>
    </div>
</div>