@model SITW.Models.ViewModel.GamePostViewModel
@{
    Layout = null;
    int i = ViewBag.index ?? 0;
    int ti = ViewBag.topicIndex ?? 0;
}





<div name="choiceDiv" class="form-horizontal">

    @Html.HiddenFor(model => model.game.topicList[ti].choiceList[i].hashSn)
    @Html.HiddenFor(model => model.game.topicList[ti].choiceList[i].valid)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h4>請新增選項 @(i + 1)</h4>
    <hr />
    @if (Model.game.topicList[ti].choiceList[i].sn == 0)
    {
        <div class="form-group">
            <div class="control-label col-md-2">
            </div>
            <div class="col-md-10">
                <span style="top:-70px" class="btn btn-danger btn-block" data-ajax="true" name="delChoice">刪除選項</span>
            </div>
        </div>
    }
    <div class="form-group">
        @Html.LabelFor(model => model.game.topicList[ti].choiceList[i].choiceStr, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.game.topicList[ti].choiceList[i].choiceStr, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.game.topicList[ti].choiceList[i].choiceStr, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.game.topicList[ti].choiceList[i].comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.game.topicList[ti].choiceList[i].comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.game.topicList[ti].choiceList[i].comment, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group" name="Oddsgroup">
        @Html.LabelFor(model => model.game.topicList[ti].choiceList[i].Odds, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.game.topicList[ti].choiceList[i].Odds, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.game.topicList[ti].choiceList[i].Odds, "", new { @class = "text-danger" })
        </div>
    </div>

</div>
